In [ ]:
# -*- coding: utf-8 -*-
"""
Created on Fri May 29 13:57:27 2020

@author: Johannes Heyn
"""

In [1]:
from cleanup import replace_missing_list_column_values, one_hot_encode_genres, breakdown_publish_date
import pandas as pd

In [54]:
filenames = ["data/all_books_popularByDate2.jl"]
output = "data/all_books_popularByDate.csv"

In [45]:
dfs = [pd.read_json(filename, lines=True) for filename in filenames]
df = pd.concat(dfs)
df = df.drop_duplicates(subset=['url'])
print(df.head())

                                                 url               title  \
0  https://www.goodreads.com/book/show/38260251-t...     Tangled Like Us
1  https://www.goodreads.com/book/show/44094817-t...  The Castle Mystery
2  https://www.goodreads.com/book/show/36300682-w...  When You Read This
3  https://www.goodreads.com/book/show/50212494-t...       The Flatshare
4  https://www.goodreads.com/book/show/46006080-t...            Too Many

           author  num_ratings  num_reviews  avg_rating  num_pages language  \
0  Krista Ritchie         3506          510        4.08      484.0  English
1      Joyce Cato         2567          153        4.28      219.0  English
2    Mary  Adkins         3079          633        3.58      400.0      NaN
3    Beth O'Leary        71110        10764        4.13      336.0  English
4     Alexa Riley         2852          268        3.77       71.0      NaN

          publish_date                                             genres  \
0  2019-01-17 00:00:00  [New Adult, Romance, Contemporary Romance, Con...
1  2019-02-27 00:00:00                     [Cozy Mystery, Mystery, Crime]
2  2019-02-05 00:00:00  [Chick Lit, Fiction, Contemporary, Womens Fict...
3  2019-04-10 00:00:00  [Audiobook, Chick Lit, Fiction, Romance, Conte...
4  2019-05-23 00:00:00  [Romance, Menage, M F M, Erotica, Adult Fictio...

                        characters             series        asin  \
0  [Jane Cobalt, Thatcher Moretti]         Like Us #4  B07JLLFFSX
1                              NaN  Jenny Starling #4  B07NWV6LVD
2                              NaN                NaN         NaN
3                              NaN                NaN  B07DCZ7LM4
4                              NaN      Too Series #2  B07SBHPPN7

                                    rating_histogram  original_publish_year  \
0  {'5': 1483, '4': 1164, '3': 611, '2': 159, '1'...                    NaN
1  {'5': 1250, '4': 878, '3': 365, '2': 59, '1': 15}                 2012.0
2  {'5': 434, '4': 1267, '3': 1082, '2': 257, '1'...                    NaN
3  {'5': 26969, '4': 29723, '3': 11643, '2': 2121...                    NaN
4  {'5': 957, '4': 772, '3': 737, '2': 275, '1': ...                    NaN

         isbn        isbn13  \
0         NaN           NaN
1         NaN           NaN
2  62834703.0  9.780063e+12
3         NaN           NaN
4         NaN           NaN

                                              awards places
0                                                NaN    NaN
1                                                NaN    NaN
2                                                NaN    NaN
3  [Goodreads Choice Award Nominee for Romance (2...    NaN
4                                                NaN    NaN

In [46]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4620 entries, 0 to 5643
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   url                    4620 non-null   object
 1   title                  4619 non-null   object
 2   author                 4620 non-null   object
 3   num_ratings            4620 non-null   int64
 4   num_reviews            4620 non-null   int64
 5   avg_rating             4620 non-null   float64
 6   num_pages              4047 non-null   float64
 7   language               3122 non-null   object
 8   publish_date           3654 non-null   object
 9   genres                 4151 non-null   object
 10  characters             312 non-null    object
 11  series                 1675 non-null   object
 12  asin                   1116 non-null   object
 13  rating_histogram       3712 non-null   object
 14  original_publish_year  789 non-null    float64
 15  isbn                   2662 non-null   float64
 16  isbn13                 3048 non-null   float64
 17  awards                 613 non-null    object
 18  places                 452 non-null    object
dtypes: float64(5), int64(2), object(12)
memory usage: 721.9+ KB
None

In [47]:
replace_missing_list_column_values(df, 'genres')
replace_missing_list_column_values(df, 'awards')
replace_missing_list_column_values(df, 'publish_date')
replace_missing_list_column_values(df, 'num_ratings')
replace_missing_list_column_values(df, 'num_reviews')
replace_missing_list_column_values(df, 'avg_rating')
replace_missing_list_column_values(df, 'num_pages')
replace_missing_list_column_values(df, 'awards')
replace_missing_list_column_values(df, 'original_publish_year')
replace_missing_list_column_values(df, 'series')
replace_missing_list_column_values(df, 'language')
replace_missing_list_column_values(df, 'places')
replace_missing_list_column_values(df, 'isbn')
replace_missing_list_column_values(df, 'isbn13')
replace_missing_list_column_values(df, 'series')
replace_missing_list_column_values(df, 'title')
replace_missing_list_column_values(df, 'author')
replace_missing_list_column_values(df, 'asin')

In [48]:
#df['num_awards'] = df['awards'].apply(len)
#one_hot_encode_genres(df)

In [49]:
print(df.head())
print(df.info())

                                                 url               title  \
0  https://www.goodreads.com/book/show/38260251-t...     Tangled Like Us
1  https://www.goodreads.com/book/show/44094817-t...  The Castle Mystery
2  https://www.goodreads.com/book/show/36300682-w...  When You Read This
3  https://www.goodreads.com/book/show/50212494-t...       The Flatshare
4  https://www.goodreads.com/book/show/46006080-t...            Too Many

           author num_ratings num_reviews avg_rating num_pages language  \
0  Krista Ritchie        3506         510       4.08       484  English
1      Joyce Cato        2567         153       4.28       219  English
2    Mary  Adkins        3079         633       3.58       400       []
3    Beth O'Leary       71110       10764       4.13       336  English
4     Alexa Riley        2852         268       3.77        71       []

          publish_date                                             genres  \
0  2019-01-17 00:00:00  [New Adult, Romance, Contemporary Romance, Con...
1  2019-02-27 00:00:00                     [Cozy Mystery, Mystery, Crime]
2  2019-02-05 00:00:00  [Chick Lit, Fiction, Contemporary, Womens Fict...
3  2019-04-10 00:00:00  [Audiobook, Chick Lit, Fiction, Romance, Conte...
4  2019-05-23 00:00:00  [Romance, Menage, M F M, Erotica, Adult Fictio...

                        characters             series        asin  \
0  [Jane Cobalt, Thatcher Moretti]         Like Us #4  B07JLLFFSX
1                              NaN  Jenny Starling #4  B07NWV6LVD
2                              NaN                 []          []
3                              NaN                 []  B07DCZ7LM4
4                              NaN      Too Series #2  B07SBHPPN7

                                    rating_histogram original_publish_year  \
0  {'5': 1483, '4': 1164, '3': 611, '2': 159, '1'...                    []
1  {'5': 1250, '4': 878, '3': 365, '2': 59, '1': 15}                  2012
2  {'5': 434, '4': 1267, '3': 1082, '2': 257, '1'...                    []
3  {'5': 26969, '4': 29723, '3': 11643, '2': 2121...                    []
4  {'5': 957, '4': 772, '3': 737, '2': 275, '1': ...                    []

          isbn       isbn13  \
0           []           []
1           []           []
2  6.28347e+07  9.78006e+12
3           []           []
4           []           []

                                              awards places
0                                                 []     []
1                                                 []     []
2                                                 []     []
3  [Goodreads Choice Award Nominee for Romance (2...     []
4                                                 []     []
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4620 entries, 0 to 5643
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   url                    4620 non-null   object
 1   title                  4620 non-null   object
 2   author                 4620 non-null   object
 3   num_ratings            4620 non-null   object
 4   num_reviews            4620 non-null   object
 5   avg_rating             4620 non-null   object
 6   num_pages              4413 non-null   object
 7   language               4297 non-null   object
 8   publish_date           4615 non-null   object
 9   genres                 4556 non-null   object
 10  characters             312 non-null    object
 11  series                 4061 non-null   object
 12  asin                   3767 non-null   object
 13  rating_histogram       3712 non-null   object
 14  original_publish_year  3759 non-null   object
 15  isbn                   4245 non-null   object
 16  isbn13                 4349 non-null   object
 17  awards                 3632 non-null   object
 18  places                 3658 non-null   object
dtypes: object(19)
memory usage: 721.9+ KB
None

In [55]:
df.to_csv(output, index=False)